
.bgSel{
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    position: absolute;
    background-position: center center;
    /*background:url("../img/selected/1.jpg");*/
    /*-webkit-filter: blur(1rem);*/
    /*filter: blur(1rem);*/
    -webkit-transition: all .8s;
    transition: all .8s;
}
/*向上的箭头*/
.index_up{
    width: 100vw;
    /*color: #7c7d7f;*/
    color: #fff;
    text-align: center;
    line-height: 4.479vw;
    height: 4.479vw;
    position: relative

}

.index_ds,.index_zy{
    padding:2vmin 5vmin;
}
.index_zy{
    padding:0  5vmin 2vmin;
}
.index_tiao, .index_zyt, .index_yx{
    display: inline-block;
    width: 0.417vw;
    height: 1.354vw;
    margin-right: 0.469vw;
    background:rgba(198,151,25,1);
    float: left;
    margin-top: 0.8vw;
}
.index_zyt{
    background:rgba(95,25,198,1);
}
.index_yx{
    background: #299A4C;
}
.sel_title{
    font-size:3.2vmin;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(255,255,255,1);
    line-height:42px;
}
.sel_des{
    font-size:17vmin;
    font-weight:400;
    color:rgba(255,255,255,0.4);
    line-height: 40px;
}
.sel_type{
    font-size:17vmin;
    font-weight:400;
    color:rgba(255,255,255,0.8);
    line-height: 30px;
}
#carousel2{
    padding-bottom: 70px;
}
.index_tit{
    position: absolute;
    width: 100%;
    bottom: 30px;
    text-indent: 20px;
    font-size: 24px;
    color: #fff;
}
.es-carousel-wrapper{
    top: 32.2%;
}

.sel{
    margin-top:33vmin;
    margin-left: 9.5vmin;
    padding-left: 0;
}

.index_zi{
    font-size: 1.562vw;
    font-weight:400;
    color:#fff;
}

.sel_des{
    font-size:17px;
    font-weight:400;
    color:rgba(255,255,255,0.4);
    line-height: 40px;
}
.sel_type{
    font-size:17px;
    font-weight:400;
    color:rgba(255,255,255,0.8);
    line-height: 30px;
}
.index_ds p:nth-child(3){
    margin-top: 10px;
}
.tj li img{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*position: absolute;*/
}

.tj li{
    /*width: 25.4vmin;*/
    width: 14.7%;
    /*height:34vmin ;*/
    position: relative;
}

.tj li.active>img{
    transform: scale(1.05);
    border: 2px solid #fff !important;
}
.tj li{
    margin-left: 0;
    margin-right: 2vmin;
    position: relative;
}
.tj li p{
    position: absolute;
    left: 1.3vmin;
    bottom: 1.6vmin;
    color: rgba(255,255,255,.8);
    font-size: 2.4vmin;
    z-index: 10
}
.tj li.active p{
    font-size: 2.6vmin;
    color: rgba(255,255,255,1);
}
.sel_li li{
    width: 21.78% !important;
    /*margin-left: 1.5% !important;*/
    position: relative;
    margin-right: 2vmin;
}
.sel_li li>span img{
    position: absolute;
    right: 0;
    top: 0;
    width: 4.3vmin;
    height: 2.3vmin;
    border: none;
    outline: none;
}
.sel_li li.active{
    background: rgba(0,0,0,0);
}
.sel_li li.active>span img{
    border: none;
    outline: none;
}

.yutobe span img{
    position: absolute;
    left: 0;
    top: 0;
    width: 10.1vmin !important;
    height: 3.2vmin !important;
}
.index_ul{
    padding: 0 !important;
}
.index_ul p{
    padding: 0 !important;
}
.index_ul .active p{
    bottom: 10.6vmin;
    font-size: 3.4vmin !important;
    line-height:4vmin !important;
}
.small_title{
    opacity: 0;
    color: #fff;
    line-height: 3vmin !important;
    width: 85%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
    white-space: pre-wrap;
    bottom:1.9vmin !important;
    text-overflow: ellipsis;
    font-size: 2.2vmin !important;
}
.index_ul .active .small_title{
    opacity: 1;
    font-size: 2vmin !important;
    line-height: 3vmin !important;
    height: 5.4vmin;
    padding: 1vmin 0;
}
.index_ul .li>.name_tit{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 80%;
    font-size: 1.354vw;
}
.anim_fade_image{
    width: 100%;
    height: 100%;
    background-size: cover !important;
    background-attachment: fixed !important;
    position: absolute !important;
    background-position: center center !important;
}
.index_cup{
    position: fixed;
}
.yx ul .li_yx{
    width:31.458vw;
    height: 17.708vw;
}
.yx ul .li_yxFirst{
    height: 17.708vw;
}
/*图片找到合适的会去掉*/
.li_yx img{
    height: 100%;
}
.index_mask{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 9;
    background: -webkit-gradient(linear,0% 40%, 0% 100%, from(rgba(255,255,255,0)), to(rgba(0,0,0,1)));
    left: 0;
    top: 0;
}
.active .index_mask{
    transform: scale(1.04);
 }

.index_c ul li img{
    height: 100%;
}
